[Unit]
Description=Home temperature monitoring
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5

#ExecStart=/usr/bin/python3 /usr/local/bin/get_hub.py
ExecStart=/bin/bash -c '/usr/bin/python3 "$HOME/Documents/Projects/gethub/get_hub.py"'

[Install]
WantedBy=default.target
