[Unit]
Description=Home temperature reporting
After=network.target

[Service]
Type=simple
#ExecStart=/usr/bin/python3 /usr/local/bin/plot.py
ExecStart=/bin/bash -c '/usr/bin/python3 "$HOME/Documents/Projects/gethub/plot.py"'

[Install]
WantedBy=default.target
